.winkdown-container {
  width: 1000px;
  height: 500px;
  border: solid 1px gray;
  border-radius: 5px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

@font-face {
  font-family: "Monaco";
  src: url(./assets/fonts/Monaco-1.ttf);
}

.winkdown {
  background-color: #ddd;
  font-family: 'Monaco', 'Microsoft YaHei', 'Courier New', Courier, monospace;
  outline: none;
  padding: 10px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.order {
  border: 1px solid gray;
  font-size: 10px;
  border-radius: 3px;
  margin: 0 3px;
}